/** 
* Master SCSS file, use to modify import order.
* Keep element styles in the appropriate folders
*/
@import 'compass';

@include global-reset;

/** 
* Load all partials
* Modify directory load order here
* Modify individual directories load order in individual _all.scss files
*/

body {
background-image: url('../img/pixel_weave.png');
}

video {
	width: 640px;
	height: 480px;
	background: #000;
	display: block !important;
	margin: 25px auto;
}

header {
background-color: #00BCD4  ;
height: 100px;

img {
width: 100%;
max-width: 100px;
float: left;
margin: 20px;
}
}

.btn-floating.mic {
	display: block;
	margin: 15px auto;
	@include transition(all 0.3s);
}

.button-wrap {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.overlay {
	@include opacity(1);
	@include transition(all 0.3s);
	
	&.hide {
		@include opacity(0);
	}
}

.btn.stop {
	display: none;
}



.record, .stop {
	margin-left: 10px;
	margin-right: 10px;
	@include transition(all 0.3s);
}

.preloader-wrapper {
	display: block;
	margin: 0 auto;
	// @include transition(all 0.3s);
	
	&.active {
		display: block;
		z-index: 5;
	}
}