<div class="canvas-wrap">
	<canvas id="canvas"></canvas>
</div>
<div id="sidebar">
  <button id="add-shape">Add a shape</button>
</div>
<div id="controls">
	<button class="play-button">Play</button>
	<input id="progress-bar" data-slider-id='ex1Slider' type="text" />
	</div>
	<div id="timeline"></div>
</div>

<ul id="slide-out" class="side-nav full">
    <li>
    	<button class="btn-floating btn-large waves-effect waves-light green">
    		<i class="mdi-editor-format-size"></i>
    	</button>
    </li>
    <li>
    	<button class="btn-floating btn-large waves-effect waves-light green">
    		<i class="mdi-image-filter-none"></i>
    	</button>
    </li>
    <li>
    	<button class="btn-floating btn-large waves-effect waves-light green">
    		<i class="mdi-navigation-arrow-forward"></i>
    	</button>
    </li>
    <li>
    	<button class="btn-floating btn-large waves-effect waves-light green">
    		<i class="mdi-editor-format-color-fill"></i>
    	</button>
    </li>
    <li>
    	<button class="btn-floating btn-large waves-effect waves-light green">
    		<i class="mdi-action-delete"></i>
    	</button>
    </li>
</ul>
<!-- <button data-activates="slide-out" class="edit-button btn-floating btn-large waves-effect waves-light green"><i class="mdi-editor-mode-edit"></i></a> -->
	<a href="#" data-activates="slide-out" class="button-collapse edit-button btn-floating btn-large waves-effect waves-light green"><i class="mdi-editor-mode-edit"></i></a>

<button class="accept-button btn-floating btn-large waves-effect waves-light green accent-3">
	<i class="large mdi-navigation-check"></i>
</button>

<div class="button-wrap">
	<button class="accept-button btn-floating btn-large waves-effect waves-light green accent-3">
		<i class="large mdi-navigation-check"></i>
	</button>
	<button class="restart-button btn-floating btn-large waves-effect waves-light red accent-3">
		<i class="large mdi-navigation-refresh"></i>
	</button>
</div>
<video id="hidden-video"></video>
<audio id="hidden-audio"></audio>