<video id="review-video" controls="true"></video>
<div class="button-wrap">
	<a href="#modal1" class="share-button modal-trigger btn-floating btn-large waves-effect waves-light green accent-3"><i class="large mdi-social-share"></i></a>
	<a href="#"class="download-button btn-floating btn-large waves-effect waves-light green accent-3"><i class="large mdi-file-file-download"></i></a>
	<a href="#"class="restart-button btn-floating btn-large waves-effect waves-light green accent-3"><i class="large mdi-navigation-refresh"></i></a>
</div>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <h4>Share Your Video</h4>
    <input type="text">
    <div class="action-bar">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
  </div>