<video id="review-video" controls="true"></video>
<div style="text-align">
	<button class="share-button btn-floating btn-large waves-effect waves-light green accent-3"><i class="large mdi-social-share"></i></button>
	<button class="download-button btn-floating btn-large waves-effect waves-light green accent-3"><i class="large mdi-file-download"></i></button>
	<button class="restart-button btn-floating btn-large waves-effect waves-light green accent-3"><i class="large mdi-navigation-refresh"></i></button>
</div>