<video id="review-video" controls="true"></video>
<div style="text-align">
	<button class="share-button btn-floating btn-large waves-effect waves-light green accent-3"><i class="large mdi-social-share"></i></button>
	<button class="download-button btn-floating btn-large waves-effect waves-light green accent-3"><i class="large mdi-file-download"></i></button>
	<button class="restart-button btn-floating btn-large waves-effect waves-light green accent-3"><i class="large mdi-navigation-refresh"></i></button>
</div>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <h4>Share Your Video</h4>
    <input type="text">
    <div class="action-bar">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
    </div>
  </div>