<canvas id="canvas"></canvas>
<div id="sidebar">
  <button id="add-shape">Add a shape</button>
</div>
<div id="controls">
	<button class="play-button">Play</button>
	<div id="progress-bar">
		<div id="progress"></div>
	</div>
	<div id="timeline"></div>
</div>
<video id="hidden-video"></video>

<button class="accept-button btn-floating btn-large waves-effect waves-light green accent-3">
	<i class="large mdi-navigation-check"></i>
</button>

<div class="button-wrap">
	<button class="accept-button btn-floating btn-large waves-effect waves-light green accent-3">
		<i class="large mdi-navigation-check"></i>
	</button>
	<button class="restart-button btn-floating btn-large waves-effect waves-light red accent-3">
		<i class="large mdi-navigation-refresh"></i>
	</button>
</div>
